.inner_fact{
    background-color: rgb(202, 202, 202);
    border-radius: 25px;
    min-height: 200px;
    

}


.cat_fact{
    width: 90%;
    margin:auto;
    display: block;
    font-size: 35px;
    text-align: center;
    padding-bottom: 7%;
}

.button_reload{
    border-radius: 25px;
    background-color: rgb(222, 255, 210);
    margin:auto;
    width:20%;
    height:auto;
    font-size: 20px;
}

.typeracer_pic{
    width: 20vw
    
}


.content_wrapper{
    display: flex;
    justify-content: space-between;
    width:100%;
    background-color: rgb(202, 202, 202);
    border-radius: 25px;
    width: 90%;
    margin:auto;
}

.typeracer_item {
    margin:auto;
    background-color: #aaaaaa;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 25px;
    box-sizing: border-box;
    font-size: 40px;
    max-width: 40vw;
}