.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    padding: 16px;
    background-color: black;
    border-radius: 25px;
}

.warning{
    background-color: rgb(179, 179, 179);
    text-align: center;
    border-radius: 25px;
}
.warning-error{
    background-color: rgb(255, 171, 171);
    text-align: center;
    border-radius: 25px;
}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 8px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.grid-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.grid-item p {
    margin-top: 8px;
    font-size: 24px;
    color: #333;
}