

.Page{
  display:block;
  min-height: 100vh;
}

.Content{
  width: 90%;
  margin:auto;


  color:#575A5E;
  display: flex;
  font-size: 35px;

}

.Image-Text-Container{
  width: 100%;

}

.Image-Text-Container img{
  width:33%;
  padding: 20px;
  height:auto;
  float:left

}

