

.Page{
  height: 100vh;
}

.Menu{
  height: 45px;
  width : 50px;
  background-color: transparent;
  border-color: transparent;
}

.Picture{
  height: 100%;
  width : 100%;
}

.Header{
  height : 10%;
  width: 100vw;
  align-items: center;
}
.Header-item{
  width:33.33%;
  color: #D4ADFC;
  display:inline-block;
  height: 100%;
  vertical-align: top;
}

.Button{
  font-family: inherit;
  height: 51px;
  width : 58px;
  background-color: transparent;
  border-color: transparent;

  float:right;
}

.Title{
  text-align: center;
  font-size: 32px;
}